body{
    background-color: rgb(147, 243, 83);
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    background-color: rgb(255, 161, 21);
    border-radius: 20px;
    display:inline-block;
    padding: 20px 20px;
    margin-bottom: 2rem;
}
.ch1{
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
}
.myButton{
    text-align: center;
    margin: 20px;
    border: none;
    background-color: tomato;
    color: aqua;
    font-size: 30px;
    border-radius: 10px;
    transition: 0.9s;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bolder;
    width: 80%;
    transition: 0.5s;
    
}
.myButton:hover{
    transform: scale(1.1);
}
.cont{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    text-align: center;
}

.anim{
    box-shadow: 5px 5px 7px 5px #000000;
    opacity: 0.9;
    transition: 0.9s;
}
img{
    height: 250px;
    width: 300px;
    margin: 5px;
    border-radius: 20px;
    box-sizing: border-box;
}
.btndiv{
    margin: 0 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(204, 59, 131);
}
h2{
    color: white;
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
}

.for-arabic > Button{
    font-size: 3rem;
}

@media (max-width: 1350px){

    .cont{
       
        grid-template-columns: auto auto auto;
       
    }
    
} 

@media (max-width: 1080px){

    .cont{
       
        grid-template-columns: auto auto;
       
    }
    
} 
  @media (max-width: 700px) {
    
    .cont{
       
        grid-template-columns: auto;
       
    }
    img{
        height: 200px;
        width: 300px;

  }
  .myButton{
    width: 50%;
  }
  
}
  @media (max-width: 600px) {
    
   
  }